.form-container{
  display: flex;
  width: 328px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 16px 16px 16px;

}
.mat-form-field-legacy{
  position: relative;
  top:0;
  right: 0;
}
.mat-form{
  width: 100%;
}
label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #343A40;
}
mat-input{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 16px;

  height: 40px;


  background: #FFFFFF;


  box-sizing: border-box;


  margin: 8px 0px;
}
.form{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;

}
.form-getData{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #0052A5;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  margin: 40px 0 24px;
  border: 1px solid #0052A5;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.formButton{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 152px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin: 48px 0 24px 0;
  border: 1px solid #0052A5;
  border-radius: 4px;
  background-color: #0052A5;
}

.fa-asterisk{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #AD0000;
  margin: 0px 4px;
}
.opcional{

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #343A40;
  margin: 0px 4px;
}

::placeholder{

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #737373;
  margin: 0px 10px;
}
