
<div class="form-container">

<form class="form" [formGroup]="myForm">

  <label for="regCountry">Kraj rejestracji podatkowej podmiotu<span class="fa-asterisk">*</span></label>
  <input formControlName="regCountry" id="regCountry" type="text" placeholder="Wybierz lub wpisz">
  <label for="nip">NIP<span class="fa-asterisk">*</span></label>
  <input formControlName="nip" id="nip" type="text" placeholder="Wpisz NIP">

  <button class="form-getData">Pobierz dane</button>

  <label for="name">Nazwa podmiotu / Imię i nazwisko<span class="fa-asterisk">*</span></label>
  <input formControlName="name" class="form-control"id="name" type="text" placeholder="Wpisz nazwę">
  <label for="region">Województwo<span class="fa-asterisk">*</span></label>
  <input formControlName="region" id="region"type="text" placeholder="Wybierz lub wyszukaj">
  <label for="city">Miejscowość<span class="fa-asterisk">*</span></label>
  <input formControlName="city" id="city"type="text" placeholder="Wpisz nazwę">
  <label for="street">Ulica<span class="fa-asterisk">*</span></label>
  <input formControlName="street" id="street"type="text" placeholder="Wpisz nazwę">
  <label for="streetNumber">Nr domu<span class="fa-asterisk">*</span></label>
  <input formControlName="streetNumber" id="streetNumber"type="text" placeholder="Podaj numer">
  <label for="flatNumber">Nr lokalu <span class="regular">(opcjonalnie)</span></label>
  <input formControlName="flatNumber" id="flatNumber"type="text" placeholder="Podaj numer">
  <label for="zipCode">Kod pocztowy<span class="fa-asterisk">*</span></label>
  <input formControlName="zipCode" id="zipCode"type="text" placeholder="Podaj numer">
  <label for="email">Email <span class="opcional">(opcjonalnie)</span></label>
  <input formControlName="email" id="email"type="text" placeholder="Wpisz adres email">
  <label for="phone">Numer telefonu <span class="opcional">(opcjonalnie)</span></label>
  <input formControlName="phone" id="phone"type="text" placeholder="Wpisz numer telefonu">












  <button type="submit" (click)="submitData()" class="formButton" [disabled]="!myForm.valid">Zapisz</button>
  <small *ngIf="myForm.invalid">Pole z gwaizdką są wymagane</small>

</form>

</div>
<!--Value:{{myForm.value | json}}-->
